{% extends 'form.html' %}

{% block title %}
Create Alias
{% endblock %}

{% block subtitle %}
<div class="sub-header-title">Add New Alias</div>
    <a href="{% url 'home5' %}" class="btn btn-link btn-sm">Home</a>
{% endblock %}

{% block form %}

<form method="POST">
    {% csrf_token %}
    {{ form.errors }}

    <div class="form-group">
        <label for="alias">Alias : </label>
        {{ form.alias }}
    </div>

    <div class="form-group">
        <label for="resourceId">Resource ID : </label>
        {{ form.resourceId }}
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary save">Save</button>
    </div>
</form>

{% endblock %}
