{% extends 'base.html' %}
{% load static %}

{% load staticfiles %}

{% block title %}
Home
{% endblock %}





{% block subtitle %}
<div class="sub-header-title">Computer Systems</div>

<div>
    <a href="{% url 'new_computer5' %}" class="btn btn-link btn-sm">New Device</a>
    <a href="{% url 'new_filter5' %}" class="btn btn-link btn-sm">New Filter</a>
    <a href="{% url 'mult_lds5' %}" class="btn btn-link btn-sm">Add Multiple LDSs</a>
    <a href="{% url 'search5' %}" class="btn btn-link btn-sm">Search Device</a>
    <a href="{% url 'searchfilter5' %}" class="btn btn-link btn-sm">Search Filter</a>


     
</div>
{% endblock %}

{% block content %}
<div class="col-md-12">
<div >Login :{{Name}}</div>
<br \>
<div >Email :{{Email}}</div>
<br \>
<div >Time :{{DT}}</div>
</div>

{% endblock %}
